// Colors
$clr1: #ffffff; // (white)
$clr2: #1dbf73; // (light green)
$clr3: #188652; // (dark green)
$clr4: #c5c6c9; // (light grey)
$clr5: #62646a; // (medium grey)
$clr6: #404145; // (dark grey)

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1160px;
